header {

    height: 73px;
    text-align: center;
    background: #000000 0% 0% no-repeat padding-box;

}

header h1 {

    top: 7px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    display: inline-block;

}

main {

    background-color: #000000;
}

main img {

    width: 100%;

}

.seccion-descripcion {
    background-color: #000000;
    margin: 0;
    padding: 45px 0;
    width: 80%;
    margin: 0 auto;
}


.descripcion-texto {
    width: 40%;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    padding-right: 50px;
    text-align: center;
    vertical-align: middle;
}

.descripcion-imagen {
    display: inline-block;
    width: 30%;
    padding-left: 8%;
    vertical-align: middle;
}

.seccion-iconos {
    background-color: #1E1A13;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 50px;
    color: #FFFFFF;
}

.seccion-iconos h2 {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 2em;
}

.iconos {

    display: inline-block;
    width: 20%;
}

.iconos p {

    font-size: 30px;
    font-weight: 300;
}

.seccion-imagenes {
    text-align: center;
    padding: 80px 0;
    background-color: #000000;
}

.imagenes {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.imagenes img {
    width: 90%;
}

footer {
	background-color: #1E1A13;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
	text-align: center;
	margin: 0;
	padding: 10px;
	color: #ffffff;
}

footer a {
	text-decoration: none;
	color: white;
}

footer a:hover{
    color: green;
}