body {
    font-family:sans-serif}

.header h1{
    font color: aliceblue ;
    height: 1em;
    padding: 3em;
    font-size: 3em;
    background-image: url("/Proyecto/Imgs/Foto4.jpg");
    background-size: cover;
    background-position: auto;
    color: rgb(253, 253, 253);
    font-family:San-serif ; 
    position: relative;}

.header p{ height: 2em;
    padding: 2em; 
    font-size: 2em;
    font-family:fantasy ;
    color: rgb(232, 117, 125);}


p{
    height: 2em;
    padding: 1em; 
    font-size: 2em;
    font-family:fantasy ;
    color: rgb(232, 117, 125);
    }

.ropa {
        width: 75%;
        margin: auto;
        border: solid 2px #ddd;
        }

.Loimposible {
    background-color:rgb(232, 117, 125);
    position: center;
    bottom: 10%;
    width: 75%;
    height: 3em;
    color: rgb(255, 250, 250);
font-family:fantasy;
font-size:  2em; 
height: 2em;
    padding: 4em;
}